body{
	color: green;
	background-color: black;
	background-image: url("images/background.jpg");
	background-size: cover;
	font-family: monospace, Arial;
	font-size: 50px;
}
p{
	width: 100%;
	text-align: center;
	color: white;
}