body{
	color: green;
	background-color: black;
	background-image: url("images/background.jpg") no-repeat ;
	background-size: cover;
	font-family: monospace, Arial;
	font-size: 40px;
}
p{
	width: 100%;
	text-align: center;
	color: #000;
}